.comment-list {
  @include list-unstyled;
}
ol.comment-list {
  list-style: none;
  li {
    padding: 15px;
    border: 1px solid black;
    margin-bottom: 10px;
  }
}
.comment-form p {
  @extend .form-group;
}
.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"],
.comment-form textarea {
  @extend .form-control;
}
.comment-form input[type="submit"] {
  @extend .btn;
  @extend .btn-primary;
}
