// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$read:                  #1F849F;
$do:                    #FFC036;
$go:                    #009F5E;

// Typography
$base-font-family: 'PT Sans', sans-serif;
$heading-font-family: 'Lato', sans-serif;
