.site-content-inner {
  @include row();
  @include span-columns(12);
  @include media(max-width $ipad) {
    @include pad();
  }
  @include media(min-width $ipad) {
    @include fill-parent;
  }
  @include media(min-width $pc-standard) {
    @include fill-parent;
  }
  @include media(min-width $pc-hd) {
    @include fill-parent;
  }
  @include media(min-width $pc-widescreen) {
    @include fill-parent;
  }
  @include media(min-width 1380px) {
    @include fill-parent;
  }
}

/*Home*/
.home .site-content-inner {
  @include pad(default 0);
  @include media(max-width $ipad) {
    @include pad(default);
  }
  .content-area {
    @include media(min-width $pc-standard) {
      @include span-columns(8 of 12);
      @include pad(0);
    }
    .site-main {
      border: 0;
      @include pad(0);
      @include span-columns(8 of 8);
      @include media(min-width $pc-standard) {
        @include fill-parent;
      }
      .hentry {
        @include media(min-width $tablet) {
          @include span-columns(4 of 8);
          @include omega(2n);
          margin-top: 0;
          margin-bottom: 20px;
        }
        padding: 0;
        border: 1px solid $dark-gray;
        .entry-title {
          font-size: rem(22);
        }
      }
    }
  }
  .widget-area {
    @include pad(0);
    @include media(min-width $pc-standard) {
      @include span-columns(4 of 12);
      @include omega();
      margin: 0;
      border: 0;
    }
    aside {
      @include fill-parent;
      @include pad(1rem);
      border: 1px solid $dark-gray;
      margin-bottom: 30px;
    }
  }
}

/* Page and Archive */
.page-read .site-content-inner,
.archive .site-content-inner {
  @include pad(default 0);
  @include media(max-width $ipad) {
    @include pad(default);
  }
  .content-area {
    @include media(min-width $pc-standard) {
      @include span-columns(12);
      @include omega();
    }
    .site-main {
      @include fill-parent;
      @include pad(0);
      border: 0;
      .hentry {
        background: white;
        border: 1px solid $dark-gray;
        @include media(min-width $tablet max-width $pc-standard) {
          @include span-columns(6);
          @include omega(2n);
          margin-top: 0;
          margin-bottom: 30px;
        }
        @include media(min-width $pc-standard) {
          @include span-columns(4);
          @include omega(3n);
          margin-top: 0;
          margin-bottom: 30px;
        }
        padding: 0;
        .entry-title {
          font-size: rem(22);
        }
        .entry-summary {
          h3 {
            font-size: rem(20);
            margin: 0;
          }
        }
      }
    }
  }
}

/* Blog */
.single {
  .site-content {
    @include outer-container;
    .entry-hero {
      @include media(min-width $small-potrait max-width $pc-standard) {
        @include fill-parent;
        @include pad();
        position: static;
        margin: 0;
      }
      @include media(min-width $pc-standard) {
        @include span-columns(8);
        @include pad(default 0 0 0);
        position: static;
        margin: 0;
      }
      .entry-header-wrapper {
        position: static;
        background: none;
        @include pad(0 0 5px 0);
        .entry-header-inner {
          @include fill-parent;
          h2 {
            @include media(min-width $small-potrait max-width $ipad) {
              font-size: 1.5rem;
            }
            color: #1B1B1B;
            text-shadow: none;
          }
        }
      }
      .single-excerpt {
        margin: 0;
        @include pad(0 0 5px 0);
        font-style: italic;
      }
    }
    .site-content-inner {
      .content-area {
        @include media(min-width $small-potrait max-width $pc-standard) {
          @include span-columns(12);
          @include pad();
        }
        @include media(min-width $pc-standard) {
          @include span-columns(8 of 12);
        }
        .site-main {
          @include pad(0);
          border: 0;
          @include media(min-width 1380px) {
            @include fill-parent;
          }
          .comments-area {
            border-radius: 2px;
            @include fill-parent;
            @include pad();
            margin: 0;
          }
          .hentry {
            margin-bottom: 0;
            .entry-content {
              @include pad(default 0);
              @include fill-parent;
              .post-thumbnail {
                background: none;
                margin-bottom: 0.75em;
                img {
                  max-width: 100%;
                  height: auto;
                }
              }
              img {
                @include media(min-width $small-potrait max-width $ipad) {
                  @include fill-parent;
                  margin: 5px auto;
                }
              }
              img.alignright,
              img.alignleft {
                margin: 0;
                @include pad();
              }
              div {
                h3 {
                  font-size: 1.2rem;
                  margin-bottom: 0;
                }
              }
            }
          }
        }
      }
      .widget-area {
        border: 0;
        margin: 0;
        @include media(max-width $pc-standard) {
          display: none;
        }
        @include media(min-width $pc-standard) {
          @include span-columns(4);
        }
        @include pad(0);
        aside {
          border: 1px solid $medium-gray;
          @include fill-parent;
          margin: 0;
          @include pad(default);
          margin-bottom: 30px;
        }
      }
    }
  }
}
