/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.site-header {
  background: white;
}

/*--------------------------------------------------------------
## Navigation
--------------------------------------------------------------*/
#search-header {
  display: none;
}
.menu-toggle {
  display: none;
}
.page-read .main-navigation .current_page_item > a,
.page-read .main-navigation .current-menu-item > a {
  color: $read;
}
.single-jugaad_tutorials .main-navigation .current-menu-item > a,
.post-type-archive-jugaad_tutorials .main-navigation .current-menu-item > a {
  color: $do;
}
.single-jugaad_events .main-navigation .current-menu-item > a,
.post-type-archive-jugaad_events .main-navigation .current-menu-item > a {
  color: $go;
}
.main-navigation a[href*="/read/"]:hover,
.main-navigation a[href*="/read/"]:active,
.main-navigation a[href*="/read/"]:focus {
  color: $read;
}
.main-navigation a[href*="/do/"]:hover,
.main-navigation a[href*="/do/"]:active,
.main-navigation a[href*="/do/"]:focus {
  color: $do;
}
.main-navigation a[href*="/go/"]:hover,
.main-navigation a[href*="/go/"]:active,
.main-navigation a[href*="/go/"]:focus {
  color: $go;
}
