.widget_facebook_likebox {
  h2 {
    font-size: $base-font-size;
    border-bottom: $base-border;
    margin-bottom: 0;
    @include pad(12px 0);
    a {
      color: $dark-gray;
    }
  }
  .fb-page.fb_iframe_widget {
    margin-bottom: 0;
    @include pad(1rem 0);
    iframe {
      margin: 0;
    }
  }
}

.widget_yikes_easy_mc_widget {
  h2 {
    font-size: $base-font-size;
    border-bottom: $base-border;
    margin-bottom: 0;
    @include pad(12px 0);
  }
  section {
    @include pad(1rem 0);
  }
}

.widget.rpwe_widget.recent-posts-extended {
  border: 1px solid $medium-gray;
  .widget-title {
    font-size: 1.2rem;
    margin-bottom: 0;
    @include pad(0 0 default 0);
    border-bottom: 1px solid $light-gray;
  }
  .rpwe-block {
    .rpwe-li {
      padding-top: 10px;
      margin-bottom: 0;
      .rpwe-title {
        font-size: 1rem;
        a {
          color: $dark-gray;
        }
        a:hover {
          color: $read;
        }
      }
    }
  }
}
